* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'AirbnbCereal';
    src: url(../font/AirbnbCerealMedium.woff) format('woff');
}

body {
    font-family: 'AirbnbCereal';

}

nav {
    height: 60px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;

}


/* bars */
.menu-bars button {
    margin-left: 20px;
}

/* food-navbar*/
.menu-bars {
    width: 873px;
    border-bottom: 1px solid #eeeeee;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.content {
    max-height: 500px;
}

/* cart-navbar */
.cart {
    width: 348px;
    text-align: center;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.cart h1 {
    padding-top: 14px;

}

.cart span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #57cad5;
    color: white;
    font-size: 20px;
    border-radius: 100%;
    text-align: center;
    margin-top: 14px;
}

/* sidebar */
.sidebar {
    width: 60px;
    text-align: center;

}

.sidebar a {
    display: block;
    padding-top: 30px;

}

.sidebar a img {
    width: 40px;
}

/* food items */
.food-items {
    width: 813px;
    background-color: rgba(190, 195, 202, 0.3);
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25);
    overflow: scroll;
    max-height: 550px;
}

.food-img {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.food-img h4 {
    font-weight: 200;
    padding: 4px 0px;
}

.food-img p {
    font-weight: bold;
}

figure {
    position: relative;
}

.food-img figure span {
    display: block;
    width: 250px;
    height: 200px;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px 10px 0 0;
}


/* cart items */
.cart-items {
    width: 348px;
    display: flex;
    flex-direction: column;
}

.item-cart img {
    width: 60px;
}

/* home */
.cart-img {
    text-align: center;
}

.cart-img p {
    color: #cecece;
    padding-top: 6px;
}

/* end home */

.item-cart {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.item-cart .btn-cart {
    width: 150px;
}

.btn-qount {
    border: 1px solid rgba(130, 222, 58, 0.2);
    background: rgba(130, 222, 58, 0.2);
    color: #82de3a;
    font-size: 16px;
    padding: 5px;
}

.btn-qount:hover {
    opacity: 0.8;
}

.btn-qount:active {
    background: rgba(130, 222, 58, 0.2);
    color: #FFFFFF;

}

.btn-qount:visited {
    border: 1px solid rgba(130, 222, 58, 0.2);

}

.btn-cart h5 {
    font-size: 10px;
}

.btn-cart span {
    padding: 5px;
    color: #82de3a;
}

.btn-fix {
    border: 1px solid rgba(130, 222, 58, 0.2);
    width: 76px;
    text-align: center;
}

.btn-cart h5 {
    padding-bottom: 11px;
    font-size: 15px;
}

.item-cart p {
    font-size: 14px;
}

.total {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}

.btn-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    text-align: center;
}

.btn-submit a {
    display: inline-block;
}

.btn-submit a button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 0;
}

/* modal*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    width: 400px;
    height: 400px;
    background-color: #FFFFFF;
    position: absolute;
    top: 15%;
    left: 30%;
}

.modal-1,
.modal-2,
.modal-3 {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.modal-1 {
    padding-top: 10px;
}

.modal-1 .right h5 {
    text-align: center;
}

.modal-2 {
    padding-top: 40px;
}

.modal-2 h5 {
    padding-bottom: 5px;
}

.total-price {
    display: flex;
    padding-top: 16px;

}

.totals,
.payment h5 {
    padding-right: 5px;
    font-size: 14px;
}

.payment {
    display: flex;
    padding-top: 70px;
    padding-bottom: 10px;
}

.modal .btn-submit span {
    text-align: center;
    padding: 4px 0px;
}

.modal .btn-submit button {
    margin: 0;
    border-radius: 5px;
}


/* MODAL ADD DATA */

.modal h3 {
    padding: 10px 30px 0 30px;
    margin: 20px 0px;
}

.modal .form {
    padding: 10px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.modal .form input,
select {
    width: 250px;
    height: 30px;
    border: 1px solid #cecece;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

}

.modal .form .input-price {
    width: 200px;
    margin-right: 50px;
}

.modal .form select {
    width: 150px;
    margin-right: 100px;
}

.modal .btn-add {
    display: flex;
    flex-direction: row-reverse;
    margin: 60px 30px 0 30px;
}

.modal .btn-add button {
    padding: 10px 30px;
    border: 0;
    border-radius: 5px;
    margin-left: 10px;
}

/* history */
.history {
    width: 1161px;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25);
    background-color: rgba(190, 195, 202, 0.3);
}

.history .card-group {
    display: flex;
    justify-content: space-evenly;
}

.history .card-group .card {
    margin: 20px;
    width: 290px;
    height: 170px;
    background: linear-gradient(285.38deg, #fbb2b4 30.05%, rgba(255, 143, 178, 0)133.19%);
    filter: drop-shadow(10px 15px 10px rgba(255, 143, 178, 0.25));
    border-radius: 10px;
}

.history .card-group .card .title {
    font-size: 13px;
    padding: 50px 0 0 25px;
}

.history .card-group .card .title p,
h2 {
    padding-bottom: 6px;
}

.chart {
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 1036px;
    margin: 40px 63px 40px 63px;
}

.chart-caption {
    display: flex;
    justify-content: space-between;
}

.chart-caption h3 {
    margin: 20px 0px 0px 20px;
}

.chart-caption select {
    width: 90px;
    height: 25px;
    background-color: #cecece;
    border-radius: 10px;
    margin: 20px 20px 0px 0px;
}

.tabel .list-price {
    font-size: 15px;
    color: #cecece;
    padding: 20px;
}

.list-price p {
    padding-bottom: 6px;
}

.content .container {
    margin: 0;
    padding: 0;
}